@import url(../profile/__pic/profile__pic.css);
@import url(../profile/__info/profile__info.css);
@import url(../profile/__title/profile__title.css);
@import url(../profile/__edit-btn/profile__edit-btn.css);
@import url(../profile/__subtitle/profile__subtitle.css);
@import url(../profile/__add-btn/profile__add-btn.css);

.profile {
  margin: 42px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .profile {
    max-width: 882px;
    flex-direction: row;
  }
}