.popup__container_form {
  max-width: 240px;
  width: calc(100% - 130px);
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;
}

@media (min-width: 768px) {
  .popup__container_form {
    max-width: 356px;
    width: calc(100% - 150px);
    padding: 36px;
  }
}