@import url(../card/__img/card__img.css);
@import url(../card/__delete-button/card__delete-button.css);
@import url(../card/__wrapper/card__wrapper.css);
@import url(../card/__name/card__name.css);
@import url(../card/__like-button/card__like-button.css);
@import url(../../blocks/card/__like-button/_active/card__like-button_active.css);
@import url(../../blocks/card/__like-count/card__like-count.css);
@import url(../../blocks/card/__like/card__like.css);

.card {
  width: 282px;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@media (min-width: 768px) {
  .card {
    margin: 0;
  }
}