.popup__button_role_inactive {
  width: 100%;
  height: 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  background: #fff;
  opacity: 0.2; 
  pointer-events: none;
}

