@import url(../vendor/normalize.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/button/button.css);

.popup  {
  background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
  top: 0;
  left: 0;
  display: none;
	justify-content: center;
	align-items: center;
}

.popup__opened {
  display: flex;
}

.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -28px;
  right: -32px;
}

.popup__container {
  max-width: 430px;
  width: 80%;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  color: #000000;
  margin: 34px 0 48px 36px;
}
.popup__form {
  text-align: center;
  margin: 0 36px 35px 36px;
}

.popup__field {
  display: block;
  font-weight: normal;
  font-size: 14px;
  width: 100%;
  padding-bottom: 12px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#popup__name-field {
  margin-bottom: 30px;
}

#popup__about-field {
  margin-bottom: 44px;
}












