.elements__container {
  width: 282px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .elements__container {
    width: 582px;
    display: grid;
    grid-template-columns: repeat(2, 282px);
    grid-column-gap: 18px;
    grid-row-gap: 20px;
  }
}

@media (min-width: 1024px) {
  .elements__container {
    width: 882px;
    display: grid;
    grid-template-columns: repeat(3, 282px);
  }
}