.button_add {
  background: url(../../../images/add-btn.svg) no-repeat;
  background-position: auto auto;
  width: 282px;
  height: 50px;
  margin: 36px auto 0;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}

@media (min-width: 1024px) {
  .button_add {
    width: 150px;
    margin: 0 0 0 154px;
  }
}