.button_edit {
  background: url(../../../images/edit-btn.svg) no-repeat;

  border: 1px solid #FFFFFF;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 20px;
  right: 8px;
}

.button_edit:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

@media (min-width: 1024px) {
  .button_edit {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 19px;
    right: 0;
  }
}

./*button_icon {
  display: block; NEED to make SVG background
  margin: auto;
}*/