@import url(../button/_role/button_role_add.css);
@import url(../button/_role/button_role_close.css);
@import url(../button/_role/button_role_edit.css);

.button {
  padding: 0;
  background-position: center;
}

.button:hover {
  cursor: pointer;
  opacity: .6;
}
