@import url(../button/__icon/button__icon.css);
@import url(../button/__add/button__add.css);
@import url(.//__close/button__close.css);
@import url(../button/__edit/button__edit.css);
@import url(../button/__save/button__save.css);

.button {
  background-color: black;
  padding: 0;
}

.button:hover {
  cursor: pointer;
}

.button:hover .button__icon path {
  fill: rgba(255, 255, 255, 0.6);
}
