@import url(../button/_icon/button_icon.css);
@import url(../button/_add/button_add.css);
@import url(../button/_close/button_close.css);
@import url(../button/_edit/button_edit.css);
@import url(../button/_save/button_save.css);

.button {
  background-color: black;
  padding: 0;
  background-position: center;
}

.button:hover {
  cursor: pointer;
  opacity: .6;
}
