.popup__button_role_close {
  background: url(../../../../images/closeicon.svg) no-repeat;
  background-color: transparent;
  background-position: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -34px;
  right: -34px;
  border: none;
  padding: 0;
}
