.popup__field {
  display: block;
  font-weight: normal;
  font-size: 14px;
  width: 100%;
  padding-bottom: 12px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


#popup__name-field {
  margin-bottom: 30px;
}

#popup__about-field {
  margin-bottom: 44px;
}