@import url(../__field/_content/popup__field_content_job.css);
@import url(../__field/_content/popup__field_content_name.css);

.popup__field {
  display: block;
  font-weight: normal;
  font-size: 14px;
  width: 100%;
  padding-bottom: 12px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}



